In [1]:
# %% [markdown]
# # Pandas Basics with PostgreSQL Database
# 
# This notebook demonstrates fundamental pandas operations using data from our PostgreSQL database.
# We'll cover:
# 1. Database connection and data loading
# 2. Basic DataFrame operations
# 3. Data manipulation and cleaning
# 4. Data sampling and analysis
# 5. Data modeling basics

# %% [markdown]
# ## 1. Setup and Database Connection
# First, let's import the necessary libraries and connect to our database.

In [2]:
import pandas as pd
import numpy as np
from helpers.db_connection import DatabaseConnection, query_to_df
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', 100)

# %% [markdown]
# ## 2. Exploring Database Tables
# Let's first see what tables are available in our database.

In [3]:
# Query to list all tables in the database
tables_query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public'
ORDER BY table_name;
"""

# Get list of tables
tables_df = query_to_df(tables_query)
print("Available tables in the database:")
print(tables_df)

# %% [markdown]
# ## 3. Exploring Table Structures
# Let's examine the structure of each table.

Available tables in the database:
       table_name
0       addresses
1     assignments
2  communications
3         workers

In [4]:
# Function to get column information for a table
def get_table_structure(table_name):
    query = f"""
    SELECT column_name, data_type, character_maximum_length
    FROM information_schema.columns
    WHERE table_name = '{table_name}'
    ORDER BY ordinal_position;
    """
    return query_to_df(query)

# Get structure for each table
for table in tables_df['table_name']:
    print(f"\nStructure of table '{table}':")
    print(get_table_structure(table))

# %% [markdown]
# ## 4. Loading Sample Data
# Now that we know the table structure, let's load some sample data.

Structure of table 'addresses':
         column_name          data_type  character_maximum_length
0          unique_id               uuid                       NaN
1   worker_unique_id               uuid                       NaN
2       address_type  character varying                      50.0
3      address_line1  character varying                     255.0
4      address_line2  character varying                     255.0
5               city  character varying                     100.0
6              state  character varying                     100.0
7        postal_code  character varying                      20.0
8            country          character                       2.0
9     effective_from               date                       NaN
10      effective_to               date                       NaN

Structure of table 'assignments':
         column_name          data_type  character_maximum_length
0          unique_id               uuid                       NaN
1   worker_unique_id               uuid                       NaN
2  assignment_number  character varying                      50.0
3        position_id  character varying                      50.0
4      department_id  character varying                      50.0
5        location_id  character varying                      50.0
6     effective_from               date                       NaN
7       effective_to               date                       NaN

Structure of table 'communications':
        column_name          data_type  character_maximum_length
0         unique_id               uuid                       NaN
1  worker_unique_id               uuid                       NaN
2      contact_type  character varying                      50.0
3     contact_value  character varying                     255.0
4      primary_flag          character                       1.0
5    effective_from               date                       NaN
6      effective_to               date                       NaN

Structure of table 'workers':
        column_name          data_type  character_maximum_length
0         unique_id               uuid                       NaN
1         person_id  character varying                      50.0
2   employee_number  character varying                      50.0
3        first_name  character varying                     100.0
4         last_name  character varying                     100.0
5        birth_date               date                       NaN
6               sex          character                       1.0
7    marital_status          character                       1.0
8       nationality          character                       2.0
9    effective_from               date                       NaN
10     effective_to               date                       NaN

In [5]:
# Example query to get data from the first table
sample_query = f"""
SELECT *
FROM {tables_df['table_name'].iloc[0]}
LIMIT 5;
"""

# Load data into a pandas DataFrame
df = query_to_df(sample_query)

# Display basic information about the DataFrame
print("DataFrame Info:")
print(df.info())

print("\nDataFrame Shape:")
print(df.shape)

print("\nDataFrame Columns:")
print(df.columns)

print("\nFirst few rows of data:")
print(df.head())

# %% [markdown]
# ## 3. Basic DataFrame Operations
# Let's explore the basic operations we can perform on our DataFrame.

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   unique_id         5 non-null      object
 1   worker_unique_id  5 non-null      object
 2   address_type      5 non-null      object
 3   address_line1     5 non-null      object
 4   address_line2     5 non-null      object
 5   city              5 non-null      object
 6   state             5 non-null      object
 7   postal_code       5 non-null      object
 8   country           5 non-null      object
 9   effective_from    5 non-null      object
 10  effective_to      5 non-null      object
dtypes: object(11)
memory usage: 572.0+ bytes
None

DataFrame Shape:
(5, 11)

DataFrame Columns:
Index(['unique_id', 'worker_unique_id', 'address_type', 'address_line1',
       'address_line2', 'city', 'state', 'postal_code', 'country',
       'effective_from', 'effective_to'],
      dtype='object')

First few rows of data:
                              unique_id                      worker_unique_id  \
0  4356aee3-fd05-4c85-9f28-51034ecc436f  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
1  3bde4131-9aeb-4331-82da-549bc4aa0e32  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
2  e4d780e5-ca72-4e9a-a35d-f4528bf29781  f937e481-8e10-4d43-adec-45072be67389
3  f9fd62ec-5109-48fd-8e56-09c47f2b51d6  a6365f6f-bc15-4c6b-9136-df94fe3d040d
4  861e82d0-cbbd-416e-8b14-5c86d7fd0afb  11e2d1ef-6d93-4822-8912-8b3f8eccc5b8

  address_type                   address_line1 address_line2            city  \
0        OTHER           24265 Christine Roads          None   Michellemouth
1         WORK     56752 Kelly Courts Apt. 665          None   Lake Patricia
2         HOME   2093 Miller Mission Suite 434     Suite 062  Port Lisamouth
3        OTHER    950 Danielle Forest Apt. 514          None   New Ryanhaven
4        OTHER  84786 Joseph Centers Suite 426          None    East Michael

        state postal_code country effective_from effective_to
0        Utah       86020      QA     2022-07-01   2027-03-09
1      Alaska       79272      DM     2021-12-22   2026-11-27
2    Illinois       98691      OM     2022-12-08   2027-01-06
3     Arizona       94397      VN     2024-05-20   2028-02-23
4  Washington       16396      LI     2024-03-15   2028-08-13

In [11]:
if 'df' in locals():
    # Display basic information about the DataFrame
    print("DataFrame Info:")
    print(df.info())

    print("\nDataFrame Shape:")
    print(df.shape)

    print("\nDataFrame Columns:")
    print(df.columns)

    # %% [markdown]
    # ### Viewing Data
    # Different ways to view the data in our DataFrame.

    # %%
    # Display first 5 rows
    print("First 5 rows:")
    print(df.head())

    # Display last 5 rows
    print("\nLast 5 rows:")
    print(df.tail())

    # Display middle 5 rows
    print("\nMiddle 5 rows:")
    middle_index = len(df) // 2
    print(df.iloc[middle_index-2:middle_index+3])

    # %% [markdown]
    # ### Indexing and Selection
    # Different ways to select and filter data.

    # %%
    # Select specific columns
    print("Selected columns:")
    print(df[['worker_unique_id', 'address_line1', 'address_line2']].head())

#     # Filter rows based on condition
#     print("\nHigh salary employees:")
#     high_salary = df[df['salary'] > 80000]
#     print(high_salary.head())

#     # Multiple conditions
#     print("\nHigh salary employees in specific departments:")
#     high_salary_dept = df[(df['salary'] > 80000) & (df['dept_name'].isin(['Sales', 'Marketing']))]
#     print(high_salary_dept.head())
# else:
#     print("DataFrame not loaded. Please check the database connection and query above.")

# %% [markdown]
# ### Column Operations
# How to manipulate columns in the DataFrame.

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   unique_id         5 non-null      object
 1   worker_unique_id  5 non-null      object
 2   address_type      5 non-null      object
 3   address_line1     5 non-null      object
 4   address_line2     5 non-null      object
 5   city              5 non-null      object
 6   state             5 non-null      object
 7   postal_code       5 non-null      object
 8   country           5 non-null      object
 9   effective_from    5 non-null      object
 10  effective_to      5 non-null      object
dtypes: object(11)
memory usage: 572.0+ bytes
None

DataFrame Shape:
(5, 11)

DataFrame Columns:
Index(['unique_id', 'worker_unique_id', 'address_type', 'address_line1',
       'address_line2', 'city', 'state', 'postal_code', 'country',
       'effective_from', 'effective_to'],
      dtype='object')
First 5 rows:
                              unique_id                      worker_unique_id  \
0  4356aee3-fd05-4c85-9f28-51034ecc436f  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
1  3bde4131-9aeb-4331-82da-549bc4aa0e32  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
2  e4d780e5-ca72-4e9a-a35d-f4528bf29781  f937e481-8e10-4d43-adec-45072be67389
3  f9fd62ec-5109-48fd-8e56-09c47f2b51d6  a6365f6f-bc15-4c6b-9136-df94fe3d040d
4  861e82d0-cbbd-416e-8b14-5c86d7fd0afb  11e2d1ef-6d93-4822-8912-8b3f8eccc5b8

  address_type                   address_line1 address_line2            city  \
0        OTHER           24265 Christine Roads          None   Michellemouth
1         WORK     56752 Kelly Courts Apt. 665          None   Lake Patricia
2         HOME   2093 Miller Mission Suite 434     Suite 062  Port Lisamouth
3        OTHER    950 Danielle Forest Apt. 514          None   New Ryanhaven
4        OTHER  84786 Joseph Centers Suite 426          None    East Michael

        state postal_code country effective_from effective_to
0        Utah       86020      QA     2022-07-01   2027-03-09
1      Alaska       79272      DM     2021-12-22   2026-11-27
2    Illinois       98691      OM     2022-12-08   2027-01-06
3     Arizona       94397      VN     2024-05-20   2028-02-23
4  Washington       16396      LI     2024-03-15   2028-08-13

Last 5 rows:
                              unique_id                      worker_unique_id  \
0  4356aee3-fd05-4c85-9f28-51034ecc436f  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
1  3bde4131-9aeb-4331-82da-549bc4aa0e32  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
2  e4d780e5-ca72-4e9a-a35d-f4528bf29781  f937e481-8e10-4d43-adec-45072be67389
3  f9fd62ec-5109-48fd-8e56-09c47f2b51d6  a6365f6f-bc15-4c6b-9136-df94fe3d040d
4  861e82d0-cbbd-416e-8b14-5c86d7fd0afb  11e2d1ef-6d93-4822-8912-8b3f8eccc5b8

  address_type                   address_line1 address_line2            city  \
0        OTHER           24265 Christine Roads          None   Michellemouth
1         WORK     56752 Kelly Courts Apt. 665          None   Lake Patricia
2         HOME   2093 Miller Mission Suite 434     Suite 062  Port Lisamouth
3        OTHER    950 Danielle Forest Apt. 514          None   New Ryanhaven
4        OTHER  84786 Joseph Centers Suite 426          None    East Michael

        state postal_code country effective_from effective_to
0        Utah       86020      QA     2022-07-01   2027-03-09
1      Alaska       79272      DM     2021-12-22   2026-11-27
2    Illinois       98691      OM     2022-12-08   2027-01-06
3     Arizona       94397      VN     2024-05-20   2028-02-23
4  Washington       16396      LI     2024-03-15   2028-08-13

Middle 5 rows:
                              unique_id                      worker_unique_id  \
0  4356aee3-fd05-4c85-9f28-51034ecc436f  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
1  3bde4131-9aeb-4331-82da-549bc4aa0e32  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36
2  e4d780e5-ca72-4e9a-a35d-f4528bf29781  f937e481-8e10-4d43-adec-45072be67389
3  f9fd62ec-5109-48fd-8e56-09c47f2b51d6  a6365f6f-bc15-4c6b-9136-df94fe3d040d
4  861e82d0-cbbd-416e-8b14-5c86d7fd0afb  11e2d1ef-6d93-4822-8912-8b3f8eccc5b8

  address_type                   address_line1 address_line2            city  \
0        OTHER           24265 Christine Roads          None   Michellemouth
1         WORK     56752 Kelly Courts Apt. 665          None   Lake Patricia
2         HOME   2093 Miller Mission Suite 434     Suite 062  Port Lisamouth
3        OTHER    950 Danielle Forest Apt. 514          None   New Ryanhaven
4        OTHER  84786 Joseph Centers Suite 426          None    East Michael

        state postal_code country effective_from effective_to
0        Utah       86020      QA     2022-07-01   2027-03-09
1      Alaska       79272      DM     2021-12-22   2026-11-27
2    Illinois       98691      OM     2022-12-08   2027-01-06
3     Arizona       94397      VN     2024-05-20   2028-02-23
4  Washington       16396      LI     2024-03-15   2028-08-13
Selected columns:
                       worker_unique_id                   address_line1  \
0  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36           24265 Christine Roads
1  b17fda6a-2d5c-43ed-9fd8-16c6271d8c36     56752 Kelly Courts Apt. 665
2  f937e481-8e10-4d43-adec-45072be67389   2093 Miller Mission Suite 434
3  a6365f6f-bc15-4c6b-9136-df94fe3d040d    950 Danielle Forest Apt. 514
4  11e2d1ef-6d93-4822-8912-8b3f8eccc5b8  84786 Joseph Centers Suite 426

  address_line2
0          None
1          None
2     Suite 062
3          None
4          None

In [16]:
df

,unique_id,worker_unique_id,address_type,address_line1,address_line2,city,state,postal_code,country,effective_from,effective_to
0,4356aee3-fd05-4c85-9f28-51034ecc436f,b17fda6a-2d5c-43ed-9fd8-16c6271d8c36,OTHER,24265 Christine Roads,None,Michellemouth,Utah,86020,QA,2022-07-01,2027-03-09
1,3bde4131-9aeb-4331-82da-549bc4aa0e32,b17fda6a-2d5c-43ed-9fd8-16c6271d8c36,WORK,56752 Kelly Courts Apt. 665,None,Lake Patricia,Alaska,79272,DM,2021-12-22,2026-11-27
2,e4d780e5-ca72-4e9a-a35d-f4528bf29781,f937e481-8e10-4d43-adec-45072be67389,HOME,2093 Miller Mission Suite 434,Suite 062,Port Lisamouth,Illinois,98691,OM,2022-12-08,2027-01-06
3,f9fd62ec-5109-48fd-8e56-09c47f2b51d6,a6365f6f-bc15-4c6b-9136-df94fe3d040d,OTHER,950 Danielle Forest Apt. 514,None,New Ryanhaven,Arizona,94397,VN,2024-05-20,2028-02-23
4,861e82d0-cbbd-416e-8b14-5c86d7fd0afb,11e2d1ef-6d93-4822-8912-8b3f8eccc5b8,OTHER,84786 Joseph Centers Suite 426,None,East Michael,Washington,16396,LI,2024-03-15,2028-08-13

In [18]:
# Rename columns
df_renamed = df.rename(columns={
    'address_line1': 'address_line_1',
    'address_line2': 'address_line_2'
})
print("Renamed columns:")
print(df_renamed.columns)

# Drop columns
df_dropped = df.drop(columns=['worker_unique_id'], axis=0)
print("\nDropped columns:")
print(df_dropped.columns)



df_dropped
# %% [markdown]
# ### Row Operations
# How to manipulate rows in the DataFrame.

Renamed columns:
Index(['unique_id', 'worker_unique_id', 'address_type', 'address_line_1',
       'address_line_2', 'city', 'state', 'postal_code', 'country',
       'effective_from', 'effective_to'],
      dtype='object')

Dropped columns:
Index(['unique_id', 'address_type', 'address_line1', 'address_line2', 'city',
       'state', 'postal_code', 'country', 'effective_from', 'effective_to'],
      dtype='object')

,unique_id,address_type,address_line1,address_line2,city,state,postal_code,country,effective_from,effective_to
0,4356aee3-fd05-4c85-9f28-51034ecc436f,OTHER,24265 Christine Roads,None,Michellemouth,Utah,86020,QA,2022-07-01,2027-03-09
1,3bde4131-9aeb-4331-82da-549bc4aa0e32,WORK,56752 Kelly Courts Apt. 665,None,Lake Patricia,Alaska,79272,DM,2021-12-22,2026-11-27
2,e4d780e5-ca72-4e9a-a35d-f4528bf29781,HOME,2093 Miller Mission Suite 434,Suite 062,Port Lisamouth,Illinois,98691,OM,2022-12-08,2027-01-06
3,f9fd62ec-5109-48fd-8e56-09c47f2b51d6,OTHER,950 Danielle Forest Apt. 514,None,New Ryanhaven,Arizona,94397,VN,2024-05-20,2028-02-23
4,861e82d0-cbbd-416e-8b14-5c86d7fd0afb,OTHER,84786 Joseph Centers Suite 426,None,East Michael,Washington,16396,LI,2024-03-15,2028-08-13

In [19]:
# Remove rows with missing values
df_clean = df.dropna()
print("Shape after removing missing values:", df_clean.shape)

# Remove duplicate rows
df_unique = df.drop_duplicates()
print("Shape after removing duplicates:", df_unique.shape)

# %% [markdown]
# ## 4. Data Sampling and Analysis
# Different ways to sample and analyze the data.

Shape after removing missing values: (5, 11)
Shape after removing duplicates: (5, 11)

In [23]:
# Random sampling
print("Random sample of 5 rows:")
df.sample(n=5)

# Stratified sampling by department
print("\nStratified sample by address_type:")
stratified_sample = df.groupby('address_type', group_keys=False).apply(
    lambda x: x.sample(n=min(3, len(x)))
)
stratified_sample

# %% [markdown]
# ### Basic Statistics
# Calculate basic statistics on numerical columns.

Random sample of 5 rows:

Stratified sample by address_type:

/var/folders/qd/0fymdyp51r5_tv14qnlymzzw0000gn/T/ipykernel_51387/1487123794.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stratified_sample = df.groupby('address_type', group_keys=False).apply(

,unique_id,worker_unique_id,address_type,address_line1,address_line2,city,state,postal_code,country,effective_from,effective_to
2,e4d780e5-ca72-4e9a-a35d-f4528bf29781,f937e481-8e10-4d43-adec-45072be67389,HOME,2093 Miller Mission Suite 434,Suite 062,Port Lisamouth,Illinois,98691,OM,2022-12-08,2027-01-06
4,861e82d0-cbbd-416e-8b14-5c86d7fd0afb,11e2d1ef-6d93-4822-8912-8b3f8eccc5b8,OTHER,84786 Joseph Centers Suite 426,None,East Michael,Washington,16396,LI,2024-03-15,2028-08-13
0,4356aee3-fd05-4c85-9f28-51034ecc436f,b17fda6a-2d5c-43ed-9fd8-16c6271d8c36,OTHER,24265 Christine Roads,None,Michellemouth,Utah,86020,QA,2022-07-01,2027-03-09
3,f9fd62ec-5109-48fd-8e56-09c47f2b51d6,a6365f6f-bc15-4c6b-9136-df94fe3d040d,OTHER,950 Danielle Forest Apt. 514,None,New Ryanhaven,Arizona,94397,VN,2024-05-20,2028-02-23
1,3bde4131-9aeb-4331-82da-549bc4aa0e32,b17fda6a-2d5c-43ed-9fd8-16c6271d8c36,WORK,56752 Kelly Courts Apt. 665,None,Lake Patricia,Alaska,79272,DM,2021-12-22,2026-11-27

In [ ]:
# Numerical columns statistics
print("Numerical columns statistics:")
print(df.describe())

# Group by operations
print("\nAverage salary by department:")
print(df.groupby('dept_name')['salary'].mean().sort_values(ascending=False))

# %% [markdown]
# ## 5. Data Modeling Basics
# Simple data modeling examples.

In [ ]:
# Create a simple feature
df['salary_category'] = pd.cut(
    df['salary'],
    bins=[0, 50000, 80000, 120000, float('inf')],
    labels=['Low', 'Medium', 'High', 'Very High']
)

# Count salary categories
print("Salary categories distribution:")
print(df['salary_category'].value_counts())

# %% [markdown]
# ### Visualization
# Basic visualizations of our data.

In [ ]:
# Set the style for better visualizations
plt.style.use('seaborn')

# Create a figure with multiple subplots
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 5))

# Salary distribution by department
sns.boxplot(data=df, x='dept_name', y='salary', ax=ax1)
ax1.set_title('Salary Distribution by Department')
ax1.set_xticklabels(ax1.get_xticklabels(), rotation=45)

# Gender distribution
df['gender'].value_counts().plot(kind='pie', autopct='%1.1f%%', ax=ax2)
ax2.set_title('Gender Distribution')

plt.tight_layout()
plt.show()

# %% [markdown]
# ## 6. Advanced Operations
# Some more advanced pandas operations.

In [ ]:
# Pivot table
print("Average salary by department and gender:")
pivot_table = pd.pivot_table(
    df,
    values='salary',
    index='dept_name',
    columns='gender',
    aggfunc='mean'
)
print(pivot_table)

# %% [markdown]
# ### Time Series Operations
# Working with date columns.

In [ ]:
# Convert hire_date to datetime
df['hire_date'] = pd.to_datetime(df['hire_date'])

# Calculate years of service
df['years_of_service'] = (pd.Timestamp.now() - df['hire_date']).dt.years

print("Years of service statistics:")
print(df['years_of_service'].describe())

# %% [markdown]
# ## 7. Data Export
# How to export our processed data.

In [ ]:
# Export to CSV
df.to_csv('processed_employee_data.csv', index=False)

# Export to Excel
df.to_excel('processed_employee_data.xlsx', index=False)